{% extends 'base.html' %} {% block title %}View List{% endblock %} {% block head
%}{{ super() }}{% endblock %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light mask-custom">
  <div class="container-fluid">
    <header id="header">
      <img src="static/img/santa.jpeg" width="=75" height="85" /> <br />
    </header>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-item m-3">
          <a
            href="{{ url_for('home') }}"
            class="btn btn-outline"
            style="border-color: gold; color: gold"
            >Home</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<h1 style="color: gold; font-family: Mountains of Christmas; font-size: 100px">
  Here's Your Secret Santa List
</h1>
<table class="table w-25">
  <tr>
    <th>Santas</th>
    <th>Giftees</th>
  </tr>
  {% for participant in participants %}
  <tr>
    <td id="santas">{{ participant[0] }}</td>
    <td id="giftees">{{ participant[1] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
